# 
#  AUTHOR		
#    Daniel Freytag
#	   https://github.com/frytg
#    https://twitter.com/FRYTG
# 

# Deploy pd-ssd disk for VM

resources:
- name: {{ env["name"] }}
  type: compute.v1.disk
  properties:
    zone: {{ properties["zone"] }}
    type: projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/diskTypes/pd-ssd
    sourceImage: docker.pkg.github.com/frytg/event-livestream-relay/basic:latest
