# 
#  AUTHOR		
#    Daniel Freytag
#	   https://github.com/frytg
#    https://twitter.com/FRYTG
# 

# Deploy new Network

resources:
- name: {{ env["name"] }}
  type: compute.v1.network
  properties:
    routingConfig:
      routingMode: REGIONAL
    autoCreateSubnetworks: true